primitive/
prim_test/
projects/*

!projects/primitive.vcxproj
!projects/primitive.vcxproj.filters
!projects/prim_test.vcxproj
!projects/prim_test.vcxproj.filters
!projects/primitive_new.vcxproj
!projects/primitive_new.vcxproj.filters